<h3>Contacts</h3>

@Message

<table>
    <tbody>
        <tr>
            <td colspan="2"><a href="/contactdetails">Add New</a></td>
        </tr>
    </tbody>
</table>

@if (Contacts == null)
{
    <p> <em>Loading...</em></p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@Contacts" TItem="@Contato" ColumnWidth="200px">

        <Columns>
            <RadzenDataGridColumn TItem="Contato" Property="FullName" Title="Name" />
            <RadzenDataGridColumn TItem="Contato" Property="Phone" Title="Phone" />
            <RadzenDataGridColumn TItem="Contato" Property="Address" Title="Address" />
            <RadzenDataGridColumn TItem="Contato" Title="Edit">
                <Template Context="data">
                    <RadzenLink Path="@($"/contactdetails/{data.Id}")" Text="Edit"></RadzenLink>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Contato" Title="Delete">
                <Template Context="data">
                    <RadzenLink Path="@($"/contactdelete/{data.Id}")" Text="Delete"></RadzenLink>
                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenGrid>


     @* <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Contacts)
            {
                <tr>
                    <td>@contact.FullName</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Address</td>
                    <td><a href="/contactdetails/@contact.Id">Edit</a></td>
                    <td><a href="/contactdelete/@contact.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table> *@
}
